<div class="center hero-unit">
  <h1>Welcome to the PickTag</h1>
  <h2>
  	Search for pictures or upload a new one!
  </h2>
   
  <%= form_tag "/search", method: "get" do %>
    <%= text_field_tag :tag %>
    <%= link_to "Upload new image", upload_path, class: "btn btn-large btn-primary" %>  
    <%= submit_tag "Search images", class: "btn btn-large btn-primary" %> 
  <% end %>
      
 </div>