<div class="center hero-unit">
  <h1>Welcome to the PickTag</h1>
  <h2>
    Here you can, by using tags, search for pictures and upload yours!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>

</div>