<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <span class="profile-info"><%= "Email: " + @user.email %></span>
      	<span class="profile-info"><%= "Reputation: #{@user.reputation}" %></span>
      </h1>
    </section>
  </aside>
</div>