<% provide(:title, @image.tag) %>
  
  <h1>
    <%= @image.tag %>
  </h1>
  <%= image_tag @image.img.url(:large) %>
  <br />
  <br />
  <span class="image-author"><%= link_to @image.user.name, @image.user %></span>
  <% image_rating = number_with_precision(@image.rating, precision: 1) %>
  <span class="image-rating"><%= "Rating: #{image_rating}" %></span>